In [1]:
import spacy

In [2]:
nlp=spacy.load("en_core_web_sm")

In [3]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [12]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion.I am Tahmid Rahman")

In [13]:
for ent in doc.ents:
    print(ent)

Tesla Inc
$45 billion
Tahmid Rahman

In [14]:
for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|",spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit
Tahmid Rahman | PERSON | People, including fictional

In [15]:
from spacy import displacy
displacy.render(doc,style='ent')

In [21]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

<h3>Setting custom entities</h3>

In [28]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY

In [29]:
s = doc[3:5]
s

to acquire

In [30]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [31]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

<h3>Exercise</h3>

In [44]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [45]:
for ent in doc.ents:
    if(ent.label_=='GPE'):
        print(ent)

India
Delhi
Gujarat
Tamilnadu
Pongal
Andhrapradesh
Assam
Bihar

In [49]:
gpe=[ent for ent in doc.ents if ent.label_=='GPE']

In [50]:
gpe

[India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]

In [51]:
len(gpe)

8

In [52]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [56]:
Date=[ date for date in doc.ents if date.label_=='DATE']

In [57]:
Date

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

In [58]:
len(Date)

4